header{
    border: 1px solid black;
    color: #424874;
    
    
}


.welcome-line{
    height: 7%;
    background-color: #424874;
}
.line{
    background-color: #424874;
    height: 3vh;
    width: 100%;
    text-align: right;
    color: white;
    display: flex;
    justify-content: space-between;
}


.line img{
    width: 0.8%;
}

.line img:hover{
    box-shadow: 2px 2px 10px white;
}



nav{
    width: 40%;
}
nav ul{
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    
}
nav ul li{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    position: relative;
    bottom: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
}

nav ul li:hover{
    background-color: #DCD6F7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.main-link{
    position: absolute;
    top: 38%;
    left: 33%;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4EEFF;
    width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 2s;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #DCD6F7;}


.dropdown:hover .dropdown-content {display: block;
    top: 100%; 
left: -50%;}


